/* red-rose-300 - latin */
@font-face {
    font-display: swap;
    font-family: 'Nerko One';
    font-style: normal;
    font-weight: 400;
    src: url('../../../../public/fonts/NerkoOne-Regular.ttf') format("ttf");
}